<p id="notice"><%= notice %></p>

<p>
  <strong>Song:</strong>
  <%= @rapper.song %>
</p>

<p>
  <strong>Artist:</strong>
  <%= @rapper.artist %>
</p>

<p>
  <strong>Album:</strong>
  <%= @rapper.album %>
</p>

<p>
  <strong>Description:</strong>
  <%= @rapper.description %>
</p>

<p>
  <strong>Picture:</strong>
  <%= image_tag(@rapper.picture_url, :width => 600) if @rapper.picture.present? %>
</p>

<p>
  <strong>Rate:</strong>
  <%= @rapper.rate %>
</p>

<%= link_to 'Edit', edit_rapper_path(@rapper) %> |
<%= link_to 'Back', rappers_path %>
