<!DOCTYPE html>
<html>
<head>
  <title>Music</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>


<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">MusicLab</a>
      <%= link_to "Rappers", rappers_path, class: "navbar-brand" %>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        
      </ul>
    </div>
  </div>
</nav>

 <p class="notice"><%= notice %></p>
 <p class="alert"><%= alert %></p>
 
<div class="welcome-bg">
<div class="container">
  <%= yield %>
</div>
</div>
<footer>
  <div class="container">
    MusicLab 2014

  </div>
</footer>


</body>
</html>
